    *{
        margin: 0;
        padding: 0 ;
        box-sizing: border-box;  }
        
h1 {
    text-align: center;
    color: green;
   
    }   
class{
   color: red;
}
 div { 
   color: blue;
   background-color:#CCCCCC;
 }
 .first{
   padding-left: 180px;
 }
 .second{
   padding-left: 130px;
 }
 .three{
  padding-left: 65px;
 }
 